/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 02 October 2018 13:57:15
*/


/* General
==============================*/
.col-1 .page-title {
    display: block;
}

a {
 
    text-decoration: none;
}

.breadcrumbs {
    margin-top: 10px;
}


/* HTML and Borders - required to block out grey background
==============================*/

html {
    color:#202020;
 background-color:rgb(238, 238, 238);
}


body {
    color:#202020;
    font-family:Arial, Tahoma, Helvetica, Sans-Serif;
    font-size:80%;height:100%;
background-image:none;
   background-color:rgb(238, 238, 238);
} 


.navigation-border {
    background:#ffffff;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;  
}

.home-banner-border {
    background:#ffffff;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
}

.container-border {
    background:#ffffff;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
}

.header-border {
    background:#ffffff;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
}



/* Header and Footer
==============================*/

#logo {
display:none;
}


#header {
 background-image:none;background-color:#fff;color:#000
    padding:4px 10px 0 10px;
    width:940px;
    height:auto;
padding-bottom:10px;
   border-bottom:solid 1px #ccc
}

.navigation-wrap {
   display:none
}

#footer {
      width:960px;
   background-image:none;background-color:#fff;border-top:solid 1px #ccc;
    margin:auto;
    padding:10px;
  }


 #header .main-text span{display:block;font-size:150%}
#header .main-text{font-size:120%;font-weight:bold;color:rgb(54,95,145);margin-top:5px}
#header .date{font-weight:bold;color:#000;margin-top:10px}
#header .location{font-weight:bold;color:#000}
#header .chair{color:#000;margin-top:5px}
#header .right-side{float:right;margin-top:10px}
 
#header .left-side{float:left;width:700px}


#container{background-image:none}
 #home{width:960px;margin:0px auto;}